page-previous {
    .penicon {
        padding-top: 18px;
        font-size: 1.7em;
        color: #a1a4ce;
    }
    ion-row.row {
        border-top: 1px solid #498ab3;
        border-bottom: 3px solid #498ab3;
    }
    button {
        background: transparent;
        color: #ffffff;
        font-size: 1.5em;
        margin-top:8px;
    }
    ion-label.label.label-md.label-md-greyblue {
        margin-top: 1px;
        margin-left: 7px;
    }
    }
    