<ion-header>
	<ion-navbar hideBackButton color="lightgreen" >
		<ion-title class="text-center" color="white">Safety Information</ion-title>
		<ion-buttons start class="back-btn">
			<button (click)="goBack()">
				<ion-icon name="md-arrow-back" color="white"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-navbar>
		<ion-grid>
			<ion-row nowrap align-items-center justify-content-center class="header-home ion-col-pad-set">
				<ion-col col-4>
					<button ion-button color="light" style="text-transform: none;"class="navbutton" (click)="profileLoad()" small text-wrap>Profile Information</button>
				</ion-col>
				<ion-col col-4>
					<button ion-button color="light" style="text-transform: none;"class="navbutton" (click)="informationLoad()" small text-wrap>Information</button>
				</ion-col>
				<ion-col col-4>
					<button ion-button color="light"style="text-transform: none;" class="navbutton" (click)="previousLoad()" small text-wrap> Previous Inspections</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-navbar>
</ion-header>

<ion-content padding class="bg-none">
	<ion-grid>
			<ion-row class="safety-div">
				<ion-col col-3>
					<ion-icon font-size="subheading" (click)="OwnCatLoad()"  name="md-add"></ion-icon>
				</ion-col>
				<ion-col col-9>
					<ion-label  style="font-size: 22px; margin:0;margin-top: 10px;" color="lightgreen">{{categoryName}}</ion-label> 
				</ion-col>
				<!-- <ion-col col-11 >
					<ion-input [(ngModel)]="filter" (change)="filterSubCategories()"  type="text" placeholder="Search"></ion-input>
				</ion-col>
				<ion-col col-1>
					<ion-icon (click)="filterSubCategories()" font-size="subheading" name="md-search"></ion-icon>
				</ion-col> -->
			</ion-row>

			<ion-row class="safety-div safetysubmit">
					<ion-col col-11>
						<ion-input [(ngModel)]="filter" (change)="filterSubCategories()"  type="text" placeholder="Search"></ion-input>
					</ion-col>
					<ion-col col-1>
						<ion-icon (click)="filterSubCategories()" font-size="subheading" name="md-search"></ion-icon>
					</ion-col>
				</ion-row>

			<form [formGroup]="subcategoryForm" (ngSubmit)="list(subcategoryForm.value)">
			<ion-row>
				<ion-row style="width: 100%" *ngFor="let subcategory of subCategories;">
					<div  class="row" style="width: 100%" *ngIf="subcategory.sub_category_id">
						<!-- <ion-col col-10  font-size="small"> -->
							<ion-col col-1>
								<ion-checkbox [checked]="check(subcategory.sub_category_id,subcategory)"  id="cb-{{subcategory.sub_category_id}}" name="subcat[]" (click)="clickSelectBox(subcategory)"></ion-checkbox>	
							</ion-col>
							<ion-col col-9>
								<ion-label style="display: inline" text-wrap>{{subcategory.sub_category_name}}	</ion-label>							
							</ion-col>
						<!-- </ion-col> -->
						
						<ion-col col-1 *ngIf="this.networkStatus == true">
							<button  type ="button" (click)="editSubCategory(subcategory)">
								<ion-icon name="md-create" class="penicon"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-1 *ngIf="this.networkStatus == true">
								<button  type ="button" (click)="deleteSubCat(subcategory.sub_category_id)">
									<ion-icon name="md-close-circle" class="penicon"></ion-icon>
								</button>
						</ion-col>
					
					</div>
				</ion-row>
				<ion-row *ngIf="subCategories.length == 0">
					<p>No sub category found, please add one!</p>
				</ion-row>
			</ion-row>
			<ion-row>	
				<ion-col class="inspection-new text-center">
					<button style="text-transform: none;" ion-button type="submit" full [disabled]="!(this.checkedList && this.checkedList.length > 0)" color="light" class="inspect-btn"  full text-wrap> 
						Next 
					</button>
				</ion-col>			
			</ion-row>
		</form>
	</ion-grid>
</ion-content>