page-forgot-password {
  ion-icon.icon.icon-ios.icon-ios-light.ion-ios-lock.item-icon {
    float: right;
    padding-top: 24px;
  }
  .toolbar-background-ios, .toolbar-background-md {
    background: none;
  }
  .navbutton {
    height: 50px;
  }
  .bg-none {
    background: none;
  }

  .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    width: calc(100% - 8px);
  }
  .item-input ion-input, .item-input ion-textarea {
    position: static;
  }
  .main-title {
    width: 100%;
    color: #fff;
    font-size: 2.2em;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    padding-top: 6vh;
    letter-spacing: 13px;
    line-height: 0.9em;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    span {
      font-weight: 600;
      letter-spacing: 0;
    }

  }
  ion-icon.icon.ion-md-lock,
  ion-icon.icon.ion-ios-mail {
    float: right;
    padding-top: 26px;
  }
  .lgbtn {
    color: #5560d3;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 5px #2c4b7a;
    -moz-box-shadow: 0 2px 5px #2c4b7a;
    box-shadow: 0 2px 5px #2c4b7a;
    padding: 1.2em 2em;
    font-weight: 500;
    text-transform: none;
  }
  .inspection-new {
    text-align: center;
    padding-top: 6vh;
  }
  a {
    color: #ffffff;
  }
  .Sign a {

    color: #4ec8c8;
  }
  .icon-bottom {
    border-bottom: 1px solid;
  }
  ion-item.item.item-block.item-ios.item-input.item-label-floating,
  ion-item.item.item-block.item-md.item-input.item-label-floating {
    border-bottom: 1px solid;
  }
  .item-ios.item-block .item-inner,
  .item-md.item-block .item-inner {
    border-bottom: 0;
  }

  .main-subheading {
    color: #ffffff;
    width: 100%;
    font-size: 1.2em;
    padding-top: 6vh;
    text-align: center;
    p {
      color: #b5b9d0;
      font-size: 0.7em;
    }
  }
  p.Sign {
    //margin-top: 10vh;
    position: absolute;
    bottom: 18px;
    width: 90%;
    margin: 0;
    display: block;
  }
}
