page-profile {
  .profile-img {
    background-color: transparent;
    display: flex;
    align-content: center;
  }
  img.profile-img-set {
    border-radius: 50%
  }
  ion-img.img-loaded img {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;;
  }
  .company-logo {
    border: none;
  }
  .edit-icon-set {
    position: absolute;
    right: 0;
    z-index: -1;
  }
  ion-item.item.item-block {
    padding: 0;
    border-bottom: 0;
  }
  .button-ios-light {
    color: #f4f4f4;
    background-color: transparent;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    margin: 8px 0;
  }
  .content-ios hr, .content-md hr {
    height: 1px;
    background-color: rgb(143, 150, 255);
    margin: 20px 0 2px;
  }
  .penicon {
    position: absolute;
    margin-top: -25px;
    font-size: 2rem;
    right: 10px;
    color: #f5f5f5;
  }
  ion-label {
    font-size: 1.4rem;
  }
  ion-icon.icon.icon-md.icon-md-light.ion-ios-lock.item-icon {
    margin-top: 35px;
  }
  .button-md-light {
    color: #5560d3;
    background-color: #ffffff;
    height: 2.2em;
    width: 85%;
    margin: 15px auto;
  }
  //form ion-col img.edit_icon {
  //  vertical-align: bottom;
  //  position: absolute;
  //  bottom: 30%;
  //}
}