<ion-header class="Profile">
	<ion-navbar hideBackButton color="lightgreen" >
		<ion-title class="text-center" color="white">Profile</ion-title>
        <ion-buttons start class="back-btn">
			<button (click)="goBack()">
				<ion-icon name="md-arrow-back" color="white"></ion-icon>
            </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding class="bg-none">
	<ion-grid>
		<ion-row>
			<ion-col col-12>
					<ion-label class="text-center">Profile Picture</ion-label>	
					<div text-center><ion-img *ngIf="imageUploadProfile == true" class="profile-img" width="80" height="80" src="{{base64ImageProfile}}" (click)="presentProfileModal()" ></ion-img> </div>   
				<ion-img *ngIf="imageUploadProfile == false" class="profile-img" width="100%" height="80" src="../assets/imgs/company-logo.png" (click)="presentProfileModal()"></ion-img>
				<!-- <button  type="button" style="width: 49%;float: left;" ion-button  (click)="openCameraProfile()">Open Camera</button>
				<button  type="button" style="width: 49%;float: right;" ion-button (click)="openGalleryProfile()">Open Gallery</button>	 -->
            </ion-col>
            <!-- <ion-col col-1></ion-col>
			<ion-col col-10>
				<ion-label class="text-center">Profile Picture</ion-label>
					<div text-center><img *ngIf="imageUploadProfile == true" [src]="base64ImageProfile" /> </div> 
					<ion-img *ngIf="imageUploadProfile == false" class="profile-img" width="100%" height="80" src="../assets/imgs/company-logo.png"></ion-img>
					<button  type="button" style="width: 49%;float: left;" ion-button  (click)="openCameraProfile()">Open Camera</button>
                    <button  type="button" style="width: 49%;float: right;" ion-button (click)="openGalleryProfile()">Open Gallery</button>	
            </ion-col>
            <ion-col col-1></ion-col> -->
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<form [formGroup]="profileForm" (ngSubmit)="update(profileForm.value)">
					<ion-row>
						<ion-col col-11>
							<ion-item>
								<ion-label floating color="greyblue">User Name</ion-label>
								<ion-input type="text" value="{{userName}}" [formControl]="profileForm.controls['username']" ></ion-input>
							</ion-item>
							<br/>
							<div class="error-box" *ngIf="profileForm.controls['username'].hasError('required') && profileForm.controls['username'].touched">
								* User Name is required!
							</div>
							<div class="error-box" *ngIf="profileForm.get('username').hasError('pattern') && profileForm.get('username').touched">
								* User Name invalid!
							</div>
						</ion-col>
						<ion-col col-1>
							<ion-icon name="create" class="penicon" ></ion-icon>
						</ion-col>
                    </ion-row>
                    <ion-row>
						<ion-col col-11>
							<ion-item>
								<ion-label floating color="greyblue">Email</ion-label>
								<ion-input type="email" value="{{email}}" [formControl]="profileForm.controls['email']" disabled="true"></ion-input>
							</ion-item>
							<br/>
							<div class="error-box" *ngIf="profileForm.controls['email'].hasError('required') && profileForm.controls['email'].touched">
								* Email is required!
							</div>
							<div class="error-box" *ngIf="profileForm.get('email').hasError('pattern') && profileForm.get('email').touched">
								* Email address invalid!
							</div>
						</ion-col>
						<ion-col col-1>
							<!-- <ion-icon name="create" class="penicon"  ></ion-icon> -->
						</ion-col>
					</ion-row>
					<ion-row>
                        <ion-col col-11>
							<ion-item>
								<ion-label floating color="greyblue">Department</ion-label>
								<ion-input type="tex" value="{{dept}}" [formControl]="profileForm.controls['department']"></ion-input>
							</ion-item>
						</ion-col>
						<ion-col col-1>
							<ion-icon name="create" class="penicon" ></ion-icon>
						</ion-col>
                    </ion-row>
                    <ion-row>
						<ion-col col-11>
							<ion-item>
								<ion-label floating color="greyblue">Company</ion-label>
								<ion-input type="text" value="{{company}}" [formControl]="profileForm.controls['company']"></ion-input>
							</ion-item>
						</ion-col>
						<ion-col col-1>
							<ion-icon name="create" class="penicon" ></ion-icon>
						</ion-col>
					</ion-row>
                    <ion-row>
						<ion-col col-11>
							<ion-item>
								<ion-label floating color="greyblue">Name of Person To Receive Report</ion-label>
								<ion-input type="text" value="{{nameOfReceiveReport}}" [formControl]="profileForm.controls['nameOfReceiveReport']"></ion-input>
							</ion-item>
							<br/>
							<div class="error-box" *ngIf="profileForm.controls['nameOfReceiveReport'].hasError('required') && profileForm.controls['nameOfReceiveReport'].touched">
								* This field is required!
							</div>
							<div class="error-box" *ngIf="profileForm.get('nameOfReceiveReport').hasError('pattern') && profileForm.get('nameOfReceiveReport').touched">
								*  Invalid characters!
							</div>
						</ion-col>
						<ion-col col-1>
							<ion-icon name="create" class="penicon" ></ion-icon>
                        </ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-11>
							<ion-item>
								<ion-label floating color="greyblue">Email of Person To Receive Report</ion-label>
								<ion-input type="email" value="{{emailOfReceiveReport}}" [formControl]="profileForm.controls['emailOfReceiveReport']"></ion-input>
							</ion-item>
							<br/>
							<div class="error-box" *ngIf="profileForm.controls['emailOfReceiveReport'].hasError('required') && profileForm.controls['emailOfReceiveReport'].touched">
								* Email is required!
                            </div>
                            <div class="error-box" *ngIf="profileForm.get('emailOfReceiveReport').hasError('pattern') && profileForm.get('emailOfReceiveReport').touched">
								* Email address invalid!
                            </div>                            
						</ion-col>
						<ion-col col-1>
							<ion-icon name="create" class="penicon" ></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-1></ion-col>
						<ion-col col-10>
							<ion-label class="text-center">Company Logo</ion-label>
							<div text-center><img *ngIf="imageUpload == true" [src]="base64Image" (click)="openGallery()"/> </div> 
                            <ion-img *ngIf="imageUpload == false" class="profile-img" width="100%" height="80" src="../assets/imgs/company-logo.png" (click)="openGallery()"></ion-img>
                            <!-- <button  type="button" style="width: 49%;float: left;" ion-button  (click)="openCamera()">Open Camera</button> -->
                            <!-- <button  type="button" style="width: 49%;float: right;" ion-button (click)="openGallery()">Open Gallery</button>	 -->
						</ion-col>
						<ion-col col-1></ion-col>
					</ion-row>
                    <br/>
                    <div class="lg-new text-center">
						<button ion-button type="submit" full [disabled]="!profileForm.valid" color="light" class="lgbtn">Update</button>
                    </div>	
                    <div class="lg-new text-center">
                        <button ion-button type="button" full (click)="changeLoad()" color="light" class="lgbtn">Change Password</button>
                    </div>				
                </form>	
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
