<ion-header>
    <ion-navbar hideBackButton color="lightgreen" >
        <ion-title class="text-center" color="white">Set Password</ion-title>
        <ion-buttons start class="back-btn">
                <button (click)="goBack()">
                    <ion-icon name="md-arrow-back" color="white"></ion-icon>
                </button>
            </ion-buttons>
      </ion-navbar>
</ion-header>
<ion-content padding class="bg-none">
 <ion-grid>
  <ion-row>
<ion-col>

<!-- <div class="title-contianer">
<div class="main-title">My Equipment</div>
<div class="main-sub-title">Checker</div>
</div> -->
<div class="main-title"><span>My Equipment</span> Checker</div>
</ion-col>
</ion-row>
  <ion-row>
  <ion-col>
     <form [formGroup]="setPasswordForm" (ngSubmit)="setPassword(setPasswordForm.value)">
  <ion-row>
 <ion-col>
        <div class="main-subheading" text-wrap>Set New Password
        	<p>Enter your new password.</p>
        </div>
      </ion-col>
<ion-col col-12>
  <ion-item>
   
    <ion-icon name="ios-lock" item-left color="light"></ion-icon>
    <ion-label floating color="white" class="text-center">New Password</ion-label>
    <ion-input type="password"  value="" [formControl]="setPasswordForm.controls['password']" [ngClass]="{'error-border':!setPasswordForm.controls['password'].valid}"></ion-input>
  </ion-item>
  <br/>
  <div class="error-box" *ngIf="setPasswordForm.controls['password'].hasError('required') && setPasswordForm.controls['password'].touched">
      * Password is required!
    </div>
    <div class="error-box" *ngIf="setPasswordForm.controls['password'].hasError('minlength') && setPasswordForm.controls['password'].touched">
        * Minimum password length is 8!
      </div>
</ion-col>

<ion-col col-12>
    <ion-item>
     
      <ion-icon name="ios-lock" item-left color="light"></ion-icon>
      <ion-label floating color="white" class="text-center">Confirm New Password</ion-label>
      <ion-input type="password" value=""  [formControl]="setPasswordForm.controls['confirmPass']" [ngClass]="{'error-border':!setPasswordForm.controls['confirmPass'].valid}"></ion-input>
    </ion-item>
    <br/>
    <div class="error-box" *ngIf="setPasswordForm.controls['confirmPass'].hasError('required') && setPasswordForm.controls['confirmPass'].touched">
        * Confirm Password is required!
      </div>
        <div class="error-box" *ngIf="setPasswordForm.controls['confirmPass'].value != '' && setPasswordForm.controls['password'].value != setPasswordForm.controls['confirmPass'].value">
            * Passwords do not match
          </div>
  </ion-col>
<!-- 
<ion-col col-1 class="icon-bottom">
    
<ion-icon name="md-lock"></ion-icon>
</ion-col> -->
<ion-col col-1></ion-col>

<ion-col col-10>
<div class="lg-new text-center">
 <button ion-button type="submit" id="setpassword-submit" (click)="homeLoad()" full [disabled]="!setPasswordForm.valid || setPasswordForm.value.password !== setPasswordForm.value.confirmPass" block color="light" class="lgbtn">Reset password</button>
 </div>
 </ion-col>
 <ion-col col-1></ion-col>

</ion-row>
</form>
</ion-col>
  </ion-row>
</ion-grid>
<p text-center class="Sign">Don’t Have An Account? <a (click)="setPasswordLoad()" >Sign Up</a></p>
</ion-content>