page-remarks {
    $font-size-small: 0.9em;
    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border:none !important;
      }
      ion-row.header-home.row {
        text-align: center;
      }
      .toolbar-background-ios, .toolbar-background-md {
        background: none;
      }
      .navbutton {
        padding: 18px 0;
        color: #464646;
        background-color: #ffffff;
        width: 98%;
        font-weight: 500;
        -webkit-box-shadow: 0 2px 4px 2px #272c66;
        -moz-box-shadow: 0 2px 4px 2px #272c66;
        box-shadow: 0 2px 4px 2px #272c66;
        font-size: .88em;
      }
      ion-icon.icon.icon-md.ion-md-add {
        padding-top: 16px;
            font-size: 1.5em;
    }
    .safety-div ion-col ion-icon{
    font-size: 1.5em;
    }
    ion-label.text-center.label.label-md.label-md-lightgreen {
        font-size: 1.5em;
    }
    input.text-input.text-input-ios,
    input.text-input.text-input-md {
           background-color: rgba(82, 128, 184, 0.7);
        height: 48px;
        padding: 10px;
        border-radius: 10px 0px 0px 10px;
        width: 100%;
    }
    
    ion-icon.icon.icon-ios.ion-md-search,
    ion-icon.icon.icon-md.ion-md-search {
        padding: 10px;
        font-size: 2em;
        background-color: rgba(82, 128, 184, 0.7);
        margin-top: 13px;
        border-radius: 0px 10px 10px 0px;
            margin-left: -2px;
    }
    .penicon {
        font-size: 1em;
        color: #a1a4ce;
    }
    button {
        background: transparent;
        color: #ffffff;
        font-size: 1em;
    }
    ion-label.label.label-md.label-md-lightgreen {
        margin-left: 10%;
    }
    ion-list.list ion-col ion-col:nth-child(1) {
                max-width: 75%;
                display: block;
                float: left;
                width: 71%;
    }
    ion-item.item.item-block.item-ios.item-radio.item-radio-checked {
        background-color: transparent;
        border: 0px;
        border-bottom-color: transparent;
        padding: 0px;
        margin: 0px;
        width: 10%;
        float: left;
    }
    ion-icon.icon.icon-md.icon-md-blue.ion-ios-arrow-dropleft-circle,
    ion-icon.icon.icon-md.icon-md-blue.ion-ios-arrow-dropright-circle {
        font-size: 1em;
    }
    ion-list.list ion-col ion-col:nth-child(2) input[type='radio']:checked:after {
        background: #00ff00;
        color: #00ff00;
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 3px 0 0 3px;
        z-index: 99999;
    }
    ion-list.list ion-col ion-col:nth-child(3) input[type='radio']:checked:after {
        background: #ff0000;
        color: #ff0000;
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 3px 0 0 3px;
        z-index: 99999;
    }
    ion-list.list ion-col ion-col:nth-child(4) input[type='radio']:checked:after {
        background: #777777;
        color: #777777;
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 3px 0 0 3px;
        z-index: 99999;
    }
    }