// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
 
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
 
 
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
 
 
@import "ionic.globals";
 
 
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
 
 
 
 
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
 

$colors: (
  radioButtonPass : #02A040,
  radioButtonFail : #f53d3d,
  radioButtonNA : #f4f4f4,
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  lightgreen: #4ec8c8,
  white:      #ffffff,
  grey:       #ebebeb,
  greyblue:   #d9dcff,
  blue:       #5560d3,
  green:      #92d050,
  yellow:     #ffbf00,
  red:        #df0803,
  category: #85f8f5,

);
// for Android
$background-md-color: #1E1F2B;
// for iOs
$background-ios-color: #1E1F2B;
// for windows 
$background-wp-color: #1E1F2B;


$font-size: (
  date: 1em,
  subheading: 1.5em,
  small: 0.7em
);
$text-input-placeholder-color:(#ffffff);
 
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
 
 
 
 
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
 
 
 
 
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
 
 
 
 
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
 
@import "ionic.theme.default";
 
 
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
 
@import "ionic.ionicons";
 
 
// Fonts
// --------------------------------------------------
 
@import "roboto";
@import "noto-sans";
 
.ion-page.show-page {
    background: url('../assets/imgs/bg-image.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
.toolbar-background-ios{
    background:none;
}
 
ion-item.item.item-block.item-md,
ion-item.item.item-block.item-ios.item-input.item-label-floating,
ion-item.item.item-block.item-md.item-input.item-label-floating {
    background-color: transparent;
    color: #fff;
    border-top: none;
    font-size: 1.2em;
}
ion-content.bg-none.content.content-md,
ion-content.bg-none.content.content-ios {
    color: #fff;
    background-color: transparent;
}
button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button,
button.back-button.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    display: none;
}
.back-btn button {
    background-color: transparent;
    font-size: 20px;
    color: #ffffff;
}
.border-none{
  border:0px;
}