signin-form {
  .error-box-main {
    color: #D8000C;
    background-color: rgba(255,255,255, 0.65);
    margin: 10px 0;
    padding: 12px;
  }
  .item-inner {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  .toolbar-background-ios, .toolbar-background-md {
    background: none;
  }
  .navbutton {
    height: 50px;
  }
  .bg-none {
    background: none;
  }
  .st0{
    fill: aliceblue;
  }
  .main-title {
    width: 100%;
    color: #fff;
    font-size: 1.5em !important;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    padding-top: 2vh !important;
    letter-spacing: 7px !important;
    line-height: 0.9em;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    span {
      font-weight: 600;
      letter-spacing: 0;
    }
  }
  .after-main {
    margin-top: 100px;
    margin-bottom: 25px;
  }
  .input-wrapper ion-label {
    color: #ffffff!important;
    font-size: 1.5rem;
  }
  .lgbtn {
    color: #5560d3;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 5px #2c4b7a;
    -moz-box-shadow: 0 2px 5px #2c4b7a;
    box-shadow: 0 2px 5px #2c4b7a;
    padding: 1.2em 2em;
    font-weight: 500;
    text-transform: none;
  }
  .inspection-new {
    text-align: center;
    padding-top: 6vh;
  }
  a {
    color: #ffffff;
  }
  .Sign a {
    color: #4ec8c8;
  }
  //.error-box {
  //  color: #ff0000;
  //  background: rgba(255,255,255, 0.65);
  //  padding: 8px;
  //}
  ion-icon.icon.ion-md-lock,
  ion-icon.icon.ion-ios-mail {
    float: right;
    padding-top: 24px;
  }
  .icon-bottom {
    border-bottom: 1px solid;
  }
  ion-item.item.item-block.item-ios.item-input.item-label-floating,
  ion-item.item.item-block.item-md.item-input.item-label-floating {
    border-bottom: 1px solid;
  }
  .item-ios.item-block .item-inner,
  .item-md.item-block .item-inner {
    border-bottom: 0;
  }
  p.Sign {
    position: absolute;
    bottom: 12px;
    width: 90%;
    display: block;
  }
}
