<ion-grid>
  <ion-row>
    <ion-col>

      <!-- <div class="title-contianer">
      <div class="main-title">My Equipment</div>
      <div class="main-sub-title">Checker</div>
      </div> -->
      <div class="main-title"><span>My Equipment</span> Checker</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="requestPass(forgotPasswordForm.value)">
        <ion-row>
          <ion-col>
            <div class="main-subheading" text-wrap> Forgot Password
              <p style="font-size: 17px;">Enter your e-mail address and we will send you a code to enter.</p>
            </div>
          </ion-col>

          <ion-col col-12>
            <ion-item>
              <ion-icon name="ios-mail" item-left color="light"></ion-icon>
              <ion-label floating color="white" class="text-left">Email</ion-label>
              <ion-input type="email" value="" [formControl]="forgotPasswordForm.controls['email']"
                         [ngClass]="{'error-border':!forgotPasswordForm.controls['email'].valid}"></ion-input>
            </ion-item>
            <br/>
            <div class="error-box"
                 *ngIf="forgotPasswordForm.controls['email'].hasError('required') && forgotPasswordForm.controls['email'].touched">
              * Email is required!
            </div>
            <div class="error-box"
                 *ngIf="forgotPasswordForm.get('email').hasError('pattern') && forgotPasswordForm.get('email').touched">
              * Email address invalid!
            </div>
          </ion-col>
          <ion-col col-12>
            <div class="lg-new text-center">
              <button type="submit" full [disabled]="!forgotPasswordForm.valid" ion-button block color="light"
                      class="lgbtn">Reset Password
              </button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
<p text-center class="Sign">Don’t Have An Account? <a (click)="signupLoad()">Sign Up</a></p>