<ion-header>
	<ion-navbar hideBackButton color="lightgreen" >
		<ion-title class="text-center">Work Equipment Inspections</ion-title>
		<ion-buttons start class="back-btn">
			<button (click)="goBack()">
					<ion-icon name="md-arrow-back" color="white"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-navbar>
		<ion-grid>
			<ion-row nowrap align-items-center justify-content-center class="header-home ion-col-pad-set">
				<ion-col col-4>
					<button ion-button color="light" style="text-transform: none;"style="text-transform: none;" class="navbutton" (click)="profileLoad()" small text-wrap>Profile Information</button>
				</ion-col>
				<ion-col col-4>
					<button ion-button color="light" style="text-transform: none;"style="text-transform: none;" class="navbutton" (click)="informationLoad()" small text-wrap>Information</button>
				</ion-col>
				<ion-col col-4>
					<button ion-button color="light" style="text-transform: none;"style="text-transform: none;" class="navbutton" (click)="previousLoad()" small text-wrap> Previous Inspections</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-navbar>
</ion-header>
<ion-content padding class="bg-none">
	<ion-grid>
		<form [formGroup]="inspectionForm" (ngSubmit)="create(inspectionForm.value)">
			<ion-row text-center>
				<ion-col col-12>
					<div text-wrap class="text-center text-wrap top-set-desc">
						Add description or I.D number of the work equipment you are about to inspect.
					</div>
				</ion-col>
			</ion-row>
			<ion-row text-center>	
				<ion-col col-12>
					<!-- <input type="asdsad" size="40" text="asdas"></input> -->
					<ion-input ></ion-input>
					<textarea 
					  style="width: 100%"
						[(ngModel)]="inspection_desc" 
						name="inspection_desc" 
						autocomplete="on" 
						autocorrect="on" 
						#msgInput 
						rows="10" 
						[formControl]="inspectionForm.controls['description']" 
						maxLength="500" 
						placeholder="Add Description"></textarea>
				</ion-col>
	
				<ion-col col-12 
					class="error-box" 
					*ngIf="inspectionForm.controls['description'].hasError('required') && inspectionForm.controls['description'].touched">
					<div text-wrap class="text-center text-wrap"> * Equipment Description is required</div>
				</ion-col>
				<ion-col col-12>
					<div text-wrap class="text-center text-wrap"> * Maximun characters allowed: 500!</div>
				</ion-col>
			</ion-row>
			<ion-row text-center>	
				<ion-col col-12>
					<div text-wrap class="text-center text-wrap">Add photo of the work equipment you are about to inspect.</div>
				</ion-col>
				<div class="align-center">
					<ion-col col-6>
						<ion-label class="text-center">Equipment Image</ion-label>
		
							
					
						<div text-center>
							<img  [src]="base64Image" (click)="presentActionSheet()" /> 
						</div> 
						<img 
						style="height: 50%"
							*ngIf="imageUpload == false" 
							class="profile-img" 
							width="50%" 
							src="./assets/imgs/company-logo.png" 
							
							(click)="presentActionSheet()"/>     
					    
					</ion-col>
					<ion-col *ngIf="this.base64Image == ''" col-12 class="error-box" >
						<div text-wrap class="text-center text-wrap"> * Equipment image is required</div>
					</ion-col>
				</div>
			</ion-row>
			<ion-row text-center>
				<ion-col class="inspection-new text-center">
					<button style="text-transform: none;" style="text-transform: none;" ion-button type="submit" full [disabled]="!inspectionForm.valid || this.base64Image == ''" color="light" class="inspect-btn"  full text-wrap>
						Next
					</button>
				</ion-col>
			</ion-row>
		</form>
	</ion-grid>
</ion-content>