page-information {
.title-contianer{
    width: 100%;
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    

.main-title {

 }
    .main-sub-title {
              letter-spacing: 0.7em;
    padding-left: 16px;
    padding-top: 0px;
    margin-top: -17px;
    font-size: 0.8em; }
}
.welcome{
	    color: #7ff7f7;
    font-size: 2.2em;
}
.after-welcome{
font-size:1.5em;
}
}
