<ion-grid>
  <ion-row>
<ion-col>

<!-- <div class="title-contianer">
<div class="main-title">My Equipment</div>
<div class="main-sub-title">Checker</div>
</div> -->
<div class="main-title"><span>My Equipment</span> Checker</div>
</ion-col>
</ion-row>
  <ion-row>
  <ion-col>
			
     <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
  <ion-row>
 <ion-col>
 <div class="error-box-main text-center"  *ngIf="this.response">
			Current password must be wrong; try again.
			</div>
        <div class="main-subheading" text-wrap>Change Password
        	<p>Enter your new password.</p>
        </div>
      </ion-col>
<ion-col col-12>
  <ion-item>
   
    <ion-icon name="ios-lock" item-left color="light"></ion-icon>
    <ion-label floating color="white" class="text-center">Old Password</ion-label>
    <!-- <ion-input type="password"  value="" ></ion-input> -->
    <ion-input type="password"  value="" [formControl]="changePasswordForm.controls['oldPassword']" ></ion-input>
  </ion-item>
  <br/>
  <div class="error-box" *ngIf="changePasswordForm.controls['oldPassword'].hasError('required') && changePasswordForm.controls['oldPassword'].touched">
      * Password is required!
    </div>
    <div class="error-box" *ngIf="changePasswordForm.controls['oldPassword'].hasError('minlength') && changePasswordForm.controls['oldPassword'].touched">
        * Minimum password length is 8!
      </div>
</ion-col>
<ion-col col-12>
    <ion-item>
     
      <ion-icon name="ios-lock" item-left color="light"></ion-icon>
      <ion-label floating color="white" class="text-center">New Password</ion-label>
      <!-- <ion-input type="password"  value="" ></ion-input> -->
      <ion-input type="password"  value="" [formControl]="changePasswordForm.controls['newPassword']" ></ion-input>
    </ion-item>
    <br/>
    <div class="error-box" *ngIf="changePasswordForm.controls['newPassword'].hasError('required') && changePasswordForm.controls['newPassword'].touched">
        * Password is required!
      </div>
      <div class="error-box" *ngIf="changePasswordForm.controls['newPassword'].hasError('minlength') && changePasswordForm.controls['newPassword'].touched">
          * Minimum password length is 8!
        </div>
  </ion-col>

<ion-col col-12>
    <ion-item>
     
      <ion-icon name="ios-lock" item-left color="light"></ion-icon>
      <ion-label floating color="white" class="text-center">Confirm New Password</ion-label>
      <!-- <ion-input type="password" value=""  ></ion-input> -->
      <ion-input type="password" value=""  [formControl]="changePasswordForm.controls['confirmPass']" ></ion-input>
    </ion-item>
    <br/>
    <div class="error-box" *ngIf="changePasswordForm.controls['confirmPass'].hasError('required') && changePasswordForm.controls['confirmPass'].touched">
        * Confirm Password is required!
      </div>
     
        <div class="error-box" *ngIf="changePasswordForm.controls['confirmPass'].value != '' && changePasswordForm.controls['newPassword'].value != changePasswordForm.controls['confirmPass'].value">
            * Passwords do not match
          </div>
  </ion-col>
<!-- 
<ion-col col-1 class="icon-bottom">
    
<ion-icon name="md-lock"></ion-icon>
</ion-col> -->
<ion-col col-1></ion-col>

<ion-col col-10>
<div class="lg-new text-center">
 <button ion-button type="submit" id="changepassword-submit" full [disabled]="!changePasswordForm.valid" block color="light" class="lgbtn">Reset new password</button>
 </div>
 </ion-col>
 <ion-col col-1></ion-col>

</ion-row>
</form> 
</ion-col>
  </ion-row>
</ion-grid>