<ion-header>
    <ion-navbar hideBackButton color="lightgreen" >
        <ion-title class="text-center" color="white">Sign Up</ion-title>
        <ion-buttons start class="back-btn">
                <button (click)="goBack()">
                    <ion-icon name="md-arrow-back" color="white"></ion-icon>
                </button>
            </ion-buttons>
      </ion-navbar>
</ion-header>
<ion-content padding class="bg-none">
	<ion-grid>
		<ion-row>
			<ion-col>
				<div class="main-title"><span>My Equipment</span> Checker</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>	
				<div class="error-box-main" *ngIf="this.response">
					User registration failed: Email already exists or Required field is missing!
				</div>
				<form [formGroup]="signupForm" (ngSubmit)="signUp(signupForm.value)">     
					<ion-item>
						<ion-input type="text"  value="" [formControl]="signupForm.controls['username']" [ngClass]="{'error-border':!signupForm.controls['username'].valid}" placeholder = "User Name"></ion-input>
					</ion-item>
					<br/>
					<div class="error-box" *ngIf="signupForm.controls['username'].hasError('required') && signupForm.controls['username'].touched">
						* User Name is required!
					</div>
					<div class="error-box" *ngIf="signupForm.get('username').hasError('pattern') && signupForm.get('username').touched">
						* User Name address invalid!
                    </div>
					<ion-item>
						<ion-input type="email"  value="" [formControl]="signupForm.controls['email']" [ngClass]="{'error-border':!signupForm.controls['email'].valid}" placeholder = "Email"></ion-input>
					</ion-item>
					<br/>
					<div class="error-box" *ngIf="signupForm.controls['email'].hasError('required') && signupForm.controls['email'].touched">
						* Email is required!
                    </div>
                    <div class="error-box" *ngIf="signupForm.get('email').hasError('pattern') && signupForm.get('email').touched">
                        * Email address invalid!
                    </div>
					<ion-item>
						<ion-input type="password"  value="" [formControl]="signupForm.controls['password']" [ngClass]="{'error-border':!signupForm.controls['password'].valid}" placeholder = "Password"></ion-input>
                    </ion-item>
                    <br/>
                    <div class="error-box" *ngIf="signupForm.controls['password'].hasError('required') && signupForm.controls['password'].touched">
						* Password is required!
                    </div>
                    <div class="error-box" *ngIf="signupForm.controls['password'].hasError('minlength') && signupForm.controls['password'].touched">
						* Minimum password length is 8!
                    </div>
                    <ion-item>
                        <ion-input type="password" value=""  [formControl]="signupForm.controls['confirmPass']" [ngClass]="{'error-border':!signupForm.controls['confirmPass'].valid}" placeholder = "Confirm Password"></ion-input>
                    </ion-item>
                    <br/>
                    <div class="error-box" *ngIf="signupForm.controls['confirmPass'].hasError('required') && signupForm.controls['confirmPass'].touched">
						* Confirm Password is required!
                    </div>
                    <div class="error-box" *ngIf="signupForm.controls['password'].hasError('minlength') && signupForm.controls['password'].touched">
						* Minimum password length is 8!
					</div>
                    <div class="error-box" *ngIf="signupForm.controls['confirmPass'].value != '' && signupForm.controls['password'].value != signupForm.controls['confirmPass'].value">
						* Passwords do not match
                    </div>
                    <ion-item>
						<ion-input type="text" value=""  [formControl]="signupForm.controls['department']" [ngClass]="{'error-border':!signupForm.controls['department'].valid}" placeholder = "Department"></ion-input>
                    </ion-item>
                    <br/>				
					<ion-item>
						<ion-input type="text" value=""  [formControl]="signupForm.controls['nameToReceiveReport']" [ngClass]="{'error-border':!signupForm.controls['nameToReceiveReport'].valid}" placeholder = "Name of Person To Receive Reports"></ion-input>
					</ion-item>
					<br/>
						<div class="error-box" *ngIf="signupForm.controls['nameToReceiveReport'].hasError('required') && signupForm.controls['nameToReceiveReport'].touched">
                              * This field is required!
                        </div>
                    <ion-item>
						<ion-input type="email" value=""  [formControl]="signupForm.controls['emailToReceiveReport']" [ngClass]="{'error-border':!signupForm.controls['emailToReceiveReport'].valid}" placeholder = "Email of Person To Receive Reports"></ion-input>
                    </ion-item>
                    <br/>
                    <div class="error-box" *ngIf="signupForm.controls['emailToReceiveReport'].hasError('required') && signupForm.controls['emailToReceiveReport'].touched">
						* This field is required!
                    </div>
                    <div class="error-box" *ngIf="signupForm.get('emailToReceiveReport').hasError('pattern') && signupForm.get('emailToReceiveReport').touched">
						* Email address invalid!
                    </div>
					<ion-item>
						<ion-input type="text" value="" [formControl]="signupForm.controls['company']" [ngClass]="{'error-border':!signupForm.controls['company'].valid}" placeholder = "Company" ></ion-input>
					</ion-item>
                    <br/>
					<ion-col col-3>
					</ion-col>
					<ion-col col-6>
						<ion-label class="text-center">Company Logo</ion-label>
						<div text-center><img *ngIf="imageUpload == true" [src]="base64Image" /> </div> 
						<ion-img *ngIf="imageUpload == false" class="profile-img" width="100%" height="80" src="../assets/imgs/company-logo.png" (click)="openGallery()" ></ion-img>
						<!-- <button  type="button" style="width: 49%;float: left;" ion-button  (click)="openCamera()">Open Camera</button> -->
						<!-- <button  type="button" style="width: 49%;float: right;" ion-button >Open Gallery</button>	 -->
							
						<!-- <button ion-button full (click)="uploadImage()">Upload Image</button> -->
					</ion-col>
					<ion-col col-3>
					</ion-col>
					<ion-col col-1></ion-col>
					<ion-col col-10>
						<div class="lg-new text-center">
							<button ion-button type="submit" full [disabled]="!signupForm.valid"  block color="light" class="lgbtn">Register Now</button>
						</div>
					</ion-col>
					<ion-col col-1></ion-col>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>