page-signup {

  .toolbar-background-ios, .toolbar-background-md {
    background: none;
  }
  .navbutton {
    height: 50px;
  }
  .bg-none {
    background: none;
  }
  .main-title {
    width: 100%;
    color: #fff;
    font-size: 2.2em;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    padding-top: 6vh;
    letter-spacing: 13px;
    line-height: 0.9em;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    span {
      font-weight: 600;
      letter-spacing: 0;
    }

  }
  .lgbtn {
    color: #5560d3;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 5px #2c4b7a;
    -moz-box-shadow: 0 2px 5px #2c4b7a;
    box-shadow: 0 2px 5px #2c4b7a;
    padding: 1.2em 2em;
    font-weight: 500;
    text-transform: none;
  }
  .item-input ion-input, .item-input ion-textarea {
    font-size: .75em;
  }
  .item-ios {
    background-color: transparent!important;
  }
  .inspection-new {
    text-align: center;
    padding-top: 6vh;
  }
  a {
    color: #ffffff;
  }

  ion-icon.icon.icon-md.ion-md-lock,
  ion-icon.icon.icon-md.ion-ios-mail {
    float: right;
    /* border-bottom: 1px solid;*/
    padding-top: 45px;
  }
  .icon-bottom {
    border-bottom: 1px solid;
  }
  ion-item.item.item-block.item-ios.item-input.item-label-floating,
  ion-item.item.item-block.item-md.item-input.item-label-floating {
    border-bottom: 1px solid;
  }

  .item-ios.item-block .item-inner,
  .item-md.item-block .item-inner {
    border-bottom: 0;
    padding:0;
  }
  form {
    margin-top: 50px;
  }
  .main-subheading {
    color: #ffffff;
    width: 100%;
    font-size: 1.2em;
    padding-top: 12vh;
    text-align: center;
    p {

      color: #b5b9d0;
      font-size: 1.5rem;
    }
  }
  input.text-input.text-input-ios,
  input.text-input.text-input-md {
    background-color: rgba(189,189,189,0.6);
    width: 100%;
    color: #ffffff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }

  ion-img {
    background-color: transparent !important;
  }
  ion-img.img-loaded img {
    background-color: transparent!important;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
  }
  .item-block {
    min-height: 3rem;
    padding: 0;
  }
}
