page-lifting {
.penicon {
    padding-top: 18px;
    font-size: 1.7em;
    color: #a1a4ce;
}
// ion-row.row {
    
//     border-bottom: 3px solid #498ab3;
// }

ion-img.profile-img.img-loaded {
    background: transparent;
}
button {
    background: transparent;
    color: #ffffff;
    font-size: 1.5em;
    margin-top:8px;
}
.label-date{
   margin-top: 1px;
    margin-left: 7px;
        font-size: 1em;
}
ion-icon.icon.icon-md.ion-ios-radio-button-on-outline {
    font-size: 1em;
    line-height: 1.5em;
}
.bg-white{
	    background-color: #ffffff;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 2%;
}
ion-row.border-none.row {
    border-bottom: 0px;
}
}
